<h2 class="hdg hdg_2">Create New Reminder</h2>

<div class="vr">
    <%= form_for(Reminder.new) do |f| %>
        <%= f.hidden_field :user_id, { :value => current_user.id } %>

        <div class="mod">
            <div>
                <h3 class="hdg hdg_3">Title</h3>
                <%= f.text_field :title, class: "form_field" %>
            </div>
            <div>
                <h3 class="hdg hdg_3">Description</h3>
                <%= f.text_area :description, class: "form_field" %>
            </div>

            <div>
                <h3 class="hdg hdg_3">Day of Month</h3>
                Send my reminder on the
                <select name="reminder[day_number]">
                    <% (1..31).each do |n| %>
                        <option value="<%= n %>"><%= n.ordinalize %></option>
                    <% end %>
                </select>
                day from the
                <select name="reminder[day_direction]">
                    <option value="from_beginning">beginning</option>
                    <option value="from_end">end</option>
                </select>
                of each month.<br /><br />

                <div class="text_small">(For days that do not exist in a given month, the reminder will be sent on the closest available day within the same month.)</div>
            </div>

            <div>
                <h3 class="hdg hdg_3">Time of Day</h3>
                Hour: <%= f.select :hour, (0..23) %> Minute: <%= f.select :minute, (0..59) %>
            </div>

            <div>
                <h3 class="hdg hdg_3">Time Zone</h3>
                <%#= f.select :timezone, "#{Reminder.new.allowed_timezones}" %>
                <select name="reminder[timezone]">
                    <% ActiveSupport::TimeZone.all.each do |zone| %>
                        <option value="<%= zone.name %>">
                            <%= zone.name %> (<%= zone.formatted_offset %>)
                        </option>
                    <% end %>
                </select>
            </div>
        </div>
        
        <div class="vr text_right">
            <div class="hlist">
                <div><%= f.submit "Create Reminder", class: "btn" %></div>
                <div><%= link_to "Return to Index", root_path, class: "btn" %></div>
            </div>
        </div>
    <% end %>
</div>