<h2 class="hdg hdg_2">Change your password</h2>

<div class="vr">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mod">
      <div class="field">
        <%= f.label :password, "New password", class: "hdg hdg_3" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form_field" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password", class: "hdg hdg_3" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form_field" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="vr">
  <%= render "devise/shared/links" %>
</div>
