<h2 class="hdg hdg_2">Log in</h2>

<div class="vr">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mod">
    <div class="field">
      <%= f.label :email, class: "hdg hdg_3" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_field" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "hdg hdg_3" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form_field" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "hdg hdg_3" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn" %>
    </div>
  </div>
<% end %>
</div>

<div class="vr">
  <%= render "devise/shared/links" %>
</div>
